:root {
    --light: rgb(255, 60, 60);
    --main: rgb(255, 20, 20);
    --shadow: rgb(155, 20, 20);
    --dark: rgb(104, 20, 20);
    --text: rgb(76, 76, 76);
    --textweight: 600;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Geologica Variable", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: var(--textweight);
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    color: var(--text);
    background-color: white;
    /* box-shadow: gray 0px 0px 5px 0px; */
}

#headerbuttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

button {
    background-color: white;
    color: var(--text);
    /* box-shadow: var(--shadow) 0px 0px 5px 0px; */
    padding: 1vw 2vw 1vw 2vw;
    outline: none;
    border: none;
    /* border-radius: 10px; */
}

button:hover {
    color: var(--main);
    /* box-shadow: var(--dark) 0px 0px 5px 0px; */
}

main {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: white;
    background-color: var(--main);
    /* background-image: linear-gradient(to bottom, var(--shadow), var(--main)); */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    color: var(--text);
    /* box-shadow: black 0px 0px 5px 0px; */
}