body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    box-shadow: black 0px 0px 5px 0px;
}

#headerbuttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

button {
    background-color: black;
    color: white;
    box-shadow: black 0px 0px 5px 0px;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 10px;
}

main {
    display: flex;
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin: 10%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    box-shadow: black 0px 0px 5px 0px;
}