.menu {
  display: flex;
  position: fixed;
  margin-top: 600px;
  width: 10%;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(
    139deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255) 100%
  );

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu .separator {
  border-top: 1.5px solid #42434a;
}

.menu .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 10px;
}

.menu .list .element {
  display: flex;
  align-items: center;
  color: #141414;
  gap: 10px;
  transition: all 0.3s ease-out;
  padding: 4px 7px;
  border-radius: 6px;
  cursor: pointer;
}

.menu .list .element svg {
  width: 19px;
  height: 19px;
  transition: all 0.3s ease-out;
}

.menu .list .element .label {
  font-weight: 600;
}

.menu .list .element:hover {
  background-color: #5353ff;
  color: #fff;
  transform: translate(1px, -1px);
}
.menu .list .delete:hover {
  background-color: #8e2a2a;
}

.menu .list .element:active {
  transform: scale(0.99);
}

/* .menu .list:last-child svg {
  stroke: #bd89ff;
}
.menu .list:last-child .element {
  color: #bd89ff;
}

.menu .list:last-child .element:hover {
  background-color: rgba(0, 0, 0, 0.85);
} */
