
.product-container {
    display: flex;
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 16px;
    width: 200px;
}

/* table {
    width: 60%;
    border-collapse: collapse;
} */

/* td, th {
    border: 1px solid #ccc;
    padding: 8px;
} */

.cart-link {
    margin-top: 20px;
    display: inline-block;
}