
.product-container {
    display: flex;
    gap: 20px;
}

.product {
    color: var(--text);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 16px;
    width: 200px;
}
.cart {
  background-color: white;
  color: black;
}

/* table {
    width: 60%;
    border-collapse: collapse;
} */

/* td, th {
    border: 1px solid #ccc;
    padding: 8px;
} */