:root {
    --light: rgb(255, 60, 60);
    --main: rgb(255, 20, 20);
    --shadow: rgb(155, 20, 20);
    --dark: rgb(104, 20, 20);
    --text: rgb(76, 76, 76);
    --textweight: 600;
    --textweight_light: 500;
    --textweight_lighter: 400;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Geologica Variable", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: var(--textweight);
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 8%;
    color: var(--text);
    background-color: white;
}

#headerbuttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

header a {
    background-color: white;
    text-decoration: none;
    color: var(--text);
    padding: 1vw 2vw 1vw 2vw;
    outline: none;
    border: none;
}

header a:hover {
    color: var(--main);
}

main {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: white;
    background-color: var(--main);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    color: var(--text);
}

.form {
  display: none;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 1;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: var(--textweight);
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: var(--textweight_lighter);
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: var(--textweight_light);
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: var(--textweight_light);
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--textweight_light);
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
  ;
}

.continue {
    display: none;
}

.hidden {
    display: none;
}