:root {
    --light: rgb(255, 60, 60);
    --main: #c33;
    --shadow: rgb(0, 169, 118);
    --dark: rgb(104, 20, 20);
    --text: rgb(76, 76, 76);
    --textweight: 600;
    --textweight_light: 500;
    --textweight_lighter: 400;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Geologica Variable", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: var(--textweight);
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
    color: var(--text);
    background-color: white;
}

#headerbuttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

header a {
    background-color: white;
    text-decoration: none;
    color: var(--text);
    padding: 1vw 2vw 1vw 2vw;
    outline: none;
    border: none;
}

header a:hover {
    color: var(--main);
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: white;
    background-color: var(--main);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    color: var(--text);
}

.hidden {
    display: none;
}
