table { 
    /* border-collapse: collapse;  */
    color: black;
    width: 60%; 
    border-radius: 10px;
    border: solid black;
}

tbody {
    border-radius: 5px;
}

th, td { 
    border: 1px solid #999; 
    padding: 8px; 
    text-align: left; 
    border-radius: 5px;
}

td[contenteditable] { 
    background-color: #f9f9f9; 
}