{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
{%  endblock %}

{% block content %}

    <h1>Your Shopping Cart</h1>
    
    {% if cart|length == 0 %}
    
        <p>Your cart is empty.</p>
    
    {% else %}
        
        <table class="cart">
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
            {% for item in cart %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.qty }}</td>
                    <td>${{ item.price }}</td>
                    <td>${{ item.subtotal }}</td>
                    <td><a href="/cart/remove/{{ item.id }}">Remove</a></td>
                </tr>
            {% endfor %}
        </table>
        <h3>Total: ${{ total }}</h3>
    
    {% endif %}
{%  endblock %}