{% extends "layout.html" %}

{% block content %}
    <div id="products">
        <h1>Profile page</h1>
        {% for product in products %}
            {% if loop.index0 % 4 == 0 %}
                <div class="row">
            {% endif %}
                <div class="card">
                    <div class="card__shine"></div>
                        <div class="card__glow"></div>
                        <div class="card__content">
                            <div style="--bg-color: #a78bfa" class="card__image"></div>
                            <div class="card__text">
                                <p class="card__title">{{ product.productname }}</p>
                                <p class="card__description">{{ product.description }}</p>
                            </div>
                            <div class="card__footer">
                            <div class="card__price">${{ product.cost }}</div>
                            <div class="card__button">
                                <svg height="16" width="16" viewBox="0 0 24 24">
                                <path
                                    stroke-width="2"
                                    stroke="currentColor"
                                    d="M4 12H20M12 4V20"
                                    fill="currentColor"
                                ></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- <div class="p-item">
                h3>{{ product.productname }}</h3>
                <p>Price: {{ product.cost }}$</p>
            </div> -->
        {% if loop.index0 % 4 == 3 or loop.last %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
{%  endblock %}