{% extends "layout.html" %}

{% block styles %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/useradministration.css') }}">
  {%  endblock %}

{% block content %}

    <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Address</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
        {% for user in users %}
        <tr>
          <form action="/useradministration/update" method="post" class="edit-form">
            <td>{{ user.id }}
            <input type="hidden" name="id" value="{{ user.id }}"></td>
            <td contenteditable="true" oninput="this.nextElementSibling.value=this.innerText">{{ user.name }}</td>
            <input type="hidden" name="name" value="{{ user.name }}">
            <td contenteditable="true" oninput="this.nextElementSibling.value=this.innerText">{{ user.email }}</td>
            <input type="hidden" name="email" value="{{ user.email }}">
            <td contenteditable="true" oninput="this.nextElementSibling.value=this.innerText">{{ user.password }}</td>
            <input type="hidden" name="password" value="{{ user.password }}">
            <td contenteditable="true" oninput="this.nextElementSibling.value=this.innerText">{{ user.role }}</td>
            <input type="hidden" name="role" value="{{ user.role }}">
            <td>
            <button type="submit">Save</button>
          </form>
          <form action="/delete" method="post" style="display:inline;">
            <input type="hidden" name="id" value="{{ user.id }}">
            <button type="submit">X</button>
          </form>
            </td>
        </tr>
        {% endfor %}
      </table>

{%  endblock %}